@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <header>
        <h1>Alexander Maat's Woodworking World</h1>
        <h2>Crafting Elegance in Wood</h2>
    </header>

    <section>
        <img src="~/img/IMG_6114.jpg" height="400" />
        <img src="~/img/IMG_6114.jpg" height="400" />
        
    </section>

    <article>
        <h3>Welcome to My World of Woodworking</h3>
        <p>Welcome to my world of woodworking, a journey through the art of transforming wood into functional and aesthetic pieces of furniture. My name is Alexander Maat, an amateur woodworker with a deep-seated passion for creating and teaching the craft of furniture making.</p>

        <h3>My Passion for Woodworking</h3>
        <p>My journey in woodworking began as a personal endeavor, driven by the desire to create something tangible and lasting. Over the years, this has blossomed into a pursuit of excellence in furniture making. Each piece of wood tells a story, and my role is to shape it into a form that speaks not just of utility but also of beauty and harmony.</p>

        <h3>The Process</h3>
        <p>The process of creating each piece of furniture involves a meticulous selection of materials, thoughtful design, and precise craftsmanship. I specialize in traditional techniques, blended with modern styles, to create unique and durable furniture that stands the test of time.</p>

        <h3>Teaching and Sharing</h3>
        <p>Beyond just creating, I am also passionate about sharing my knowledge and skills with others. Whether you're a beginner or an enthusiast, my goal is to inspire and guide you through the fascinating world of woodworking, making complex techniques accessible and enjoyable.</p>
    </article>
    

</div>
